*{
	background-color: #181818;
	color:#F0EBEA;
	font-family: Arial, Helvetica, sans-serif;
}

.hero, .display {
	text-align: center;
}

.hero {
	margin-top: 60px;

}



form {
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: center;
	transform: translate(-15px);
}