<!DOCTYPE html>
<html lang=en>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <title>Movie Recommender System</title>
    </head>

    <body>
        <div class="all">
            <div class="hero">
                <h1>Movie Recommendor System</h1>
                <p><a href="https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata">From TMDB Dataset</a></p>
                
                <form method="POST">
                    <select name = "movie">
                        {% for movie in movies %}
                        <option 
                            {% if movie == selected_movie %}selected{% endif %}>
                            {{ movie }}  
                        </option>
                        {% endfor %}
                    </select>
                    <br>
                    <button type="submit">Recommend Movies</button>
                </form>
            </div>
            <div class="display">
                <h3>Since You Liked</h3>
                <h2><span class="movie">{{selected_movie}}</span></h2>
                <h3>You might Like</h4>
        
                {% if recommendations %}
                <div class="grid-container">
                    <div class="grid">
                        {% for recommended_movie, movie_poster in zip(recommendations, movie_poster) %}
                        <div class="grid-item">
                            <img src="{{movie_poster}}", alt="Movie Poster">
                            <span class="recommend">{{ recommended_movie }}</span>
                        </div>  
                        {% endfor %}
                    </div>
                </div>
            {% endif%} 
            </div>
        </div>
    </body>
</html>

